@*<!DOCTYPE html>
    <html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8" />
        <title>Language Translator</title>
        <link rel="stylesheet" href="style.css" />
        <meta name="viewport" content="width=device-width, intial-scale=1.0" />
        <link rel="stylesheet" href="https://localhost:7296/" />
    </head>
    <body>
        <div class="container">
            <div class="wrapper">
                <div class="text input">
                    <textarea class="from-text" placeholder="Enter text"></textarea>
                    <textarea class="from-to" placeholder="Translation" readonly disabled></textarea>
                </div>
                <ul class="controls">
                    <li class="row from">
                        <div class="icons">
                            <i class="fas fa-volume-up"></i>
                            <i class="fas fa-copy"></i>
                        </div>
                        <select>
                            <option value="en-US">English</option>
                            <option value="es-MX">Spanish</option>
                            <option value="ne-NP">Nepali</option>
                        </select>
                    </li>
                    <li class="exchange"><i class="fas fa-exchange-alt"></i></li>
                    <li class="row to">
                        <select>
                            <option value="es-MX">Spanish</option>
                            <option value="ne-NP">Nepali</option>
                            <option value="en-US">English</option>
                        </select>
                        <div class="icons">
                            <i class="fas fa-volume-up"></i>
                            <i class="fas fa-copy"></i>
                        </div>
                    </li>
                </ul>
            </div>
    <button>Translate Text</button>
        </div>
    </body>
    </html>*@

@model Translation

<h1>Get Translation</h1>

@using (Html.BeginForm("Index", "Home", FormMethod.Get))
{
    <div class="form-group">
        <input type="text" name="TextToTranslate" placeholder="Enter Text Here" />
    </div>
    <br />

    <input type="submit" value="Translate" class="btn btn-primary" />
}

@if (@Model.TranslatedLanguage == null)
{
    <h1>Please enter text to translate</h1>
}
else
{
    <h1>@Model.TranslatedLanguage</h1>
}
